{% extends 'googleapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <!-- add a submit button -->
          <button type="submit" class="btn btn-outline-success">filter</button>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
      {% for app in object_list %}
        <h4>
            <!-- add a link to the detail page -->
            <a href="{% url 'app_detail' app.pk %}">{{ app.app_name | safe }}</a>
        </h4>
        {% if app %}
            
            <div class="row">
                <div class="col-10">
                    {{ app.genres  | safe }}
                </div>
            </div>
        
            <div class="row">
                <div class="col-10">
                    {{ app.rating  | safe }}
                </div>
            </div>

            <div class="row">
              <div class="col-10">
                  {{ app.size  | safe }}
              </div>
          </div>

            <div class="row">
              <div class="col-10">
                  {{ app.updated_time  | safe }}
              </div>
          </div>

          <div class="row">
            <div class="col-10">
                {{ app.content_rating  | safe }}
            </div>
        </div>
        {% endif %}

        <!-- add the app and description template tags -->

    {% empty %}
      Select one or more filters relevant to your search and then click "filter".
    {% endfor %}
    </div>
  </div>
{% endblock content %}