<!-- Restore missing template tags -->
{% extends 'googleapp/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

  <header>
    <h2>App Update</h2>
  </header>

  <!-- novalidate attribute required to render validation messages -->
  <form method="post" novalidate>
    {% csrf_token %}

    <div class="row">
      <div class="col-6">
        {{ form.app_name|as_crispy_field }}
      </div>
    </div>
  
    <div class="row">
      <div class="col-6">
        {{ form.rating|as_crispy_field }}
      </div>
    </div>
  
    <div class="row">
      <div class="col-6">
        {{ form.reviews|as_crispy_field }}
      </div>
    </div>
  
    <div class="row">
      <div class="col-6">
        {{ form.size|as_crispy_field }}
      </div>
    </div>
    <!-- add -->
  
  
  
  
  
    <div class="row">
      <div class="col-6">
        {{ form.install|as_crispy_field }}
      </div>
    </div>
  
    <div class="row">
      <div class="col-6">
        {{ form.price|as_crispy_field }}
      </div>
    </div>
  
  
    
  
    <div class="row">
      <div class="col-6">
        {{ form.updated_time|as_crispy_field }}
      </div>
    </div>
    <!-- add -->
  
  
    <div class="row">
      <div class="col-6">
        {{ form.current_version|as_crispy_field }}
      </div>
    </div>

  
    <div class="row">
      <div class="col-6">
        {{ form.category|as_crispy_field }}
      </div>
    </div>
  
    <div class="row">
      <div class="col-6">
        {{ form.pay_type|as_crispy_field }}
      </div>
    </div>
  
    <div class="row">
      <div class="col-6">
        {{ form.content_rating|as_crispy_field }}
      </div>
    </div>


  
    <div class="row">
      <div class="col-6">
        {{ form.android_version|as_crispy_field }}
      </div>
    </div>

  
    <div class="row">
      <div class="col-6">
        {{ form.genre|as_crispy_field }}
      </div>
    </div>


  <button type="submit" class="btn btn-outline-success">Update</button>
  
  <!-- Restore missing button -->
  <a class="btn btn-outline-secondary" href="{% url 'apps' %}">cancel</a>
</form>

{% endblock content %}